:root {
  --color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
  --wite-color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*=======head=======*/

.header-svg {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.mobile {
  width: 10px;
  height: 16px;
}

.head {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-link.current::after {
  transform: scaleX(1);
}

.nav-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
}

.nav-item {
  position: relative;
}

.first-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
}

.second-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.header-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.mail {
  margin-left: auto;
}

.commun-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.commun-link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.commun-link:hover,
.commun-link:focus {
  color: var(--accent-color);
  fill: currentColor;
}

/*=======End-head=======*/

/*=======Main-Info======*/

.main {
  background-color: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
}

.main-container {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg.jpg);
  background-size: cover;
  text-align: center;
  max-width: 1600px;
  height: 600px;
}

.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--wite-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  border: none;
}

/*=======End-main-info=======*/

/*======Info===========*/

.icons-info {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.info-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.info-list {
  display: flex;
}

.info-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  min-width: 270px;
}

.info-item:not(:last-child) {
  margin-right: 30px;
}

/*=======End-info=======*/

/*=======Work========*/

.work {
  padding-bottom: 94px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  width: 1170px;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  text-align: center;
  width: 1170px;
  margin-right: -30px;
}

.work-item {
  margin-right: 30px;
  position: relative;
}

.work-text {
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--wite-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

/*=======End-work=======*/

/*=======Team========*/

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.svg-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--wite-color);
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-bg:hover,
.svg-bg:focus {
  background-color: var(--accent-color);
  fill: var(--wite-color);
}

.team-item {
  width: 1170px;
  background: var(--wite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  display: flex;
  justify-content: space-between;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}

/*=======End-team=======*/

/*==========Clients===========*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-button {
  border: 1px solid #afb1b8;
  background-color: var(--wite-color);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-button:hover,
.clients-button:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/*===========End-clients============*/

/*========Footer========*/

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-list {
  margin-top: 20px;
  display: block;
}

.main-footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.svg-bg-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--wite-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-bg-footer:hover,
.svg-bg-footer:focus {
  background-color: var(--accent-color);
  fill: var(--wite-color);
}

.first-logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.second-logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--wite-color);
  text-decoration: none;
}

.contact-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--wite-color);
}

.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-color);
  margin-bottom: 20px;
}

.footer-links:not(:last-child) {
  margin-right: 10px;
}

.footer-form-section {
  margin-left: 93px;
}

.footer-form-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-color);
}

.footer-imput {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 16px 15px;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  color: var(--wite-color);
}

.footer-form-btn {
  cursor: pointer;
  margin-left: 12px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--wite-color);
}

.footer-form-icon {
  margin-left: 10px;
  vertical-align: middle;
  align-items: center;
}

/*========End-Footer=======*/

/*=======Portfolio========*/

/*=======Menu==========*/

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-container {
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-list {
  display: flex;
  margin-bottom: 50px;
}

.menu-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color);
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus {
  background-color: var(--accent-color);
  color: var(--wite-color);
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*=======End-menu========*/

/*=======Proects========*/

.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color);
}

.projects-service {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.info-projects {
  padding-left: 24px;
  padding-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--wite-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
  padding: 63px 24px 63px 24px;
}

.projects-title {
  background: var(--wite-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-title:hover .project-text,
.projects-title:focus .project-text {
  transform: translateY(0%);
}

.projects-title:hover,
.projects-title:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-img-div {
  position: relative;
  overflow: hidden;
}

.projects-link {
  display: block;
  text-decoration: none;
}

.portfolio-list {
  justify-content: center;
}

.menu-title:not(:last-child) {
  margin-right: 8px;
}

.second-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*=======End-proects========*/

/*==========Modal===========*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 580px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.btn {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.btn:hover,
.btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color);
  margin-bottom: 12px;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.modal-form-span-icon {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-imput {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-imput:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-imput:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  height: 120px;
  margin-bottom: 25px;
  margin-top: 4px;
  padding: 12px 16px;
}

.modal-textarea {
  resize: none;
}

.modal-checkbox:checked + .modal-lable-checkbox::before {
  background-image: url(../images/checkbox/check.svg);
  background-size: contain;
  border: none;
}

.modal-lable-checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 30px;
}

.modal-lable-checkbox::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--color);
  cursor: pointer;
  border-radius: 2px;
  margin-right: 8px;
}

.modal-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--wite-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

/*=============End-modal=============*/
