.work {
  padding-bottom: 94px;

  &-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    width: 1170px;
    margin-bottom: 50px;
  }

  &-list {
    display: flex;
    text-align: center;
    width: 1170px;
    margin-right: -30px;
  }

  &-item {
    margin-right: 30px;
    position: relative;
  }

  &-text {
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    color: var(--wite-color);
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
  }
}
